@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.KnownFacts

@(knownFactsForm : Form[KnownFacts])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "Check Agency Status", bodyClasses = None) {
  <h1>Check Agency Status</h1>
  <p>This will become the check agency status page</p>

  @form(
    action = routes.SubscriptionController.checkAgencyStatus,
    'class -> "form js-form") {

    <fieldset class="form-group">
      <div class="form-field">
        <label>UTR
          @input(knownFactsForm("utr"), 'class -> "form-control form-control--block")
        </label>
      </div>

      <div class="form-field">
        <label>Postcode
          @input(knownFactsForm("postcode"), 'class -> "form-control form-control--block")
        </label>
      </div>

      <div class="form-field">
        <input class="button" type="submit" id="continue" value="Continue">
      </div>
    </fieldset>
  }
}
