@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input

@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.KnownFacts

@(knownFactsForm : Form[KnownFacts])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "Check Agency Status", bodyClasses = None) {
  <h1>Check if your agency is already subscribed</h1>

  @form(
    action = routes.CheckAgencyController.checkAgencyStatus,
    'class -> "form js-form") {

    <fieldset class="form-group">
      <div class="form-field">
          @input(knownFactsForm("utr"), '_label -> "SA or CT UTR", '_inputClass -> "input--medium input--cleared")
      </div>

      <div class="form-field">
          @input(knownFactsForm("postcode"), '_label -> "Registered business postcode", '_inputClass -> "input--small input--cleared")
      </div>

      <div class="form-field">
        <input class="button" type="submit" id="continue" value="Continue">
      </div>

    </fieldset>
  }
}
