@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes._
@import uk.gov.hmrc.agentmtdidentifiers.model.Utr
@(registrationName: String, postcode: String, utr: Utr, nextPageUrl: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = Messages("confirmYourAgency.title"), bodyClasses = None) {
    <header class="page-header">
        <h1>@Messages("confirmYourAgency.title")</h1>
    </header>

    <table class="form-group">
        <caption class="visuallyhidden">@Messages("confirmYourAgency.caption")</caption>
        <tbody>
            <tr>
                <th>@Messages("confirmYourAgency.heading.businessName")</th>
                <td id="registration-name">@registrationName</td>
            </tr>
            <tr>
                <th>@Messages("confirmYourAgency.heading.postcode")</th>
                <td id="postcode">@postcode</td>
            </tr>
            <tr>
                <th>@Messages("confirmYourAgency.heading.utr")</th>
                <td id="utr">@{utr.value}</td>
            </tr>
        </tbody>
    </table>

    <a id="continue" class="button" href="@nextPageUrl">@Messages("button.yes")</a>
    <a id="return" class="button--secondary" href="@CheckAgencyController.showCheckAgencyStatus">@Messages("button.no")</a>
}
