@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes._
@import uk.gov.hmrc.agentmtdidentifiers.model.Utr
@(registrationName: String, postcode: String, utr: Utr, nextPageUrl: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = Messages("confirmYourAgency.title"), bodyClasses = None) {
  <h1>@Messages("confirmYourAgency.title")</h1>

  <table class="form-group">
    <thead>
    <tr>
      <th colspan="2"><span class="visuallyhidden">Agency details</span></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Name</td>
      <td id="registration-name">@registrationName</td>
    </tr>
    <tr>
      <td>Postcode</td>
      <td id="postcode">@postcode</td>
    </tr>
    <tr>
      <td>UTR</td>
      <td id="utr">@{utr.value}</td>
    </tr>
    </tbody>
  </table>
  <a id="continue" class="button" href="@nextPageUrl">Yes</a>
  <a id="return" class="button--secondary" href="@CheckAgencyController.showCheckAgencyStatus">No</a>
}
