@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.SubscriptionController
@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig

@(id: String, message: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "Create your new account ID and password", bodyClasses = None) {

  <h1>Invalid Address</h1>
  <p>Sorry, the address is not in a format that our system can accept. Please change the address to fix the problems described below:</p>

  <p>@message</p>

  <a class="button" href="@SubscriptionController.beginJourney(id)" role="button">Change Address</a>
}
