@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.SignedOutController
@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = Messages("nonAgent.title"), bodyClasses = None) {
    <header class="page-header">
        <h1>@Messages("nonAgent.title")</h1>
    </header>

    <p>@Messages("nonAgent.p1")</p>

    <ul class="list list-bullet">
        <li>@Messages("nonAgent.l1")</li>
        <li>@Messages("nonAgent.l2")</li>
    </ul>

    <p>@Messages("nonAgent.p2")</p>

    <p><a class="button" href="@SignedOutController.redirectToSos" role="button" id="buttonRegisterNow">@Messages("button.register")</a></p>
}
