@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.CheckAgencyController
@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "Agent Services account: sign in or set up", bodyClasses = None, userIsLoggedIn = false) {

    <header class="page-header">
        <h1>Agent Services account: sign in or set up</h1>
    </header>

    <p>This account is for professional tax agents.</p>

    <p>Your Agent Services account will allow your business to access information about your clients and new HM Revenue and Customs (HMRC) services.</p>

    <p>To sign in for the first time you will need:</p>

    <ul class="list list-bullet">
        <li>your Agent Government Gateway account - you will have one if you have used the HMRC Agent Services portal before</li>
        <li>your unique tax reference (sometimes called a UTR) if you are a sole trader or a partnership</li>
        <li>your Corporation Tax reference number if you are an incorporated company</li>
    </ul>

    <p>
        <a class="button button-start button--get-started" name="start" id="start" href="@CheckAgencyController.showCheckAgencyStatus" role="button">Start now</a>
    </p>

    <h2 class="heading-medium">Before you start</h2>

    <p>If you are charging for services as an agent, you must be supervised for <a href="https://www.gov.uk/topic/business-tax/money-laundering-regulations">anti-money laundering</a>.</p>

}
