@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.CheckAgencyController
@()(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "Create an Agent Services account", bodyClasses = None, userIsLoggedIn = false) {

    <h1>Create your Agent Services account</h1>

    <p>This account will give you access to new Agent Services online. It's designed for professional accountants and tax advisers.</p>

    <p>You'll be able to:</p>

    <ul class="list list-bullet">
        <li>look at your existing client records</li>
        <li>add new clients</li>
        <li>access your Self Assessment clients' tax data</li>
        <li>interact with HMRC online, in real time</li>
    </ul>

    <p>It takes around 5 minutes to create an account.</p>

    <p>
        <a class="button button-start button--get-started" name="start" id="start" href="@CheckAgencyController.showCheckAgencyStatus" role="button">Start now</a>
    </p>

    <h2 class="heading-medium">Before you start</h2>

    <p>We'll need the following information about the agent business you're creating an account for:</p>

    <ul class="list list-bullet">
        <li>name</li>
        <li>email address</li>
        <li>telephone number</li>
        <li>Self Assessment UTR or Corporation Tax reference</li>
    </ul>

    <p>If you're charging for services as an agent, you must be supervised for <a href="https://www.gov.uk/topic/business-tax/money-laundering-regulations">anti-money laundering</a>.</p>

}
