@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form
@import uk.gov.hmrc.play.views.html.helpers.input
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.SubscriptionController
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.InitialDetails
@(registrationName: String, detailsForm: Form[InitialDetails])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = Messages("subscriptionDetails.title"), bodyClasses = None) {

<h1>@Messages("subscriptionDetails.title")</h1>

  @form(
    action = SubscriptionController.getAddressDetails,
    'class -> "form js-form") {

<fieldset class="form-group">

    <div class="form-field">
        @input(detailsForm("name"), '_label -> Messages("subscriptionDetails.businessName.label"), '_inputClass -> "input--medium input--cleared")
    </div>


      <div class="form-field">
        @input(detailsForm("email"), '_label -> Messages("subscriptionDetails.email.label"), '_inputClass -> "input--medium input--cleared")
      </div>

      <div class="form-field">
       @input(detailsForm("telephone"), '_label -> Messages("subscriptionDetails.telephone.label"), '_inputClass -> "input--medium input--cleared")
      </div>



</fieldset>

@input(detailsForm("knownFactsPostcode"), '_type -> "hidden")
@input(detailsForm("utr"), '_type -> "hidden")

<div class="form-field">
    <input class="button" type="submit" id="subscribe" value="Continue">
</div>
}
}
