@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.play.views.html.helpers.form

@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.KnownFacts

@import helper._

@(knownFactsForm : Form[KnownFacts])(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "Check agency status", bodyClasses = None) {
  <h1>Check agency status</h1>
  <p>This will become the check agency status page</p>

  @form(
    action = routes.SubscriptionController.submitKnownFacts,
    'class -> "form js-form") {
    <fieldset class="form-field-group">
      @helper.inputText(knownFactsForm("utr"))
      @helper.inputText(knownFactsForm("postCode"))
    </fieldset>
    <div class="form-group">
      <input class="button" type="submit" value="Continue">
    </div>
  }
}
