@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.SubscriptionController
@import uk.gov.hmrc.agentsubscriptionfrontend.config.GGConfig
@(agencyName: String, arn: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "You've successfully created an Agent Services account", bodyClasses = None) {
    <div class="grid-row">
        <div class="column-two-thirds">

           <p><strong>We've sent an email to @agencyName with your account details</strong>.</p>


            <a href="" class="button">Add clients</a>
            <a href="" class="button">Go to dashboard</a>
            <a href="@GGConfig.ggSignOutUrl" class="button">Sign out</a>
        </div>
    </div>
}
