@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.SignedOutController
@(agencyName: String, arn: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = "You've successfully created an Agent Services account", bodyClasses = None) {
<div class="grid-row">
    <div class="column-two-thirds">

        <div class="transaction-banner--complete">
            <h1 class="bold-large">You've successfully created an Agent Services account for @agencyName</h1>
            <p>
                Your account number is: <br>
                <strong class="heading-medium">@arn</strong>
            </p>
        </div>

        <p><strong>You must save this number for your agency's records.</strong> You'll need it later. HMRC won't show you this number again.</p>

            <a href="@SignedOutController.startSurvey" class="button">Sign out</a>
        </div>
    </div>
</div>
}
