@import uk.gov.hmrc.agentsubscriptionfrontend.config.AppConfig
@import uk.gov.hmrc.agentsubscriptionfrontend.controllers.routes.SignedOutController
@(redirectUrl: String, agencyName: String, arn: String)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)

@uk.gov.hmrc.agentsubscriptionfrontend.views.html.main_template(appConfig, title = Messages("subscriptionComplete.title", agencyName), bodyClasses = None) {

    <div class="transaction-banner--complete">
        <h1 class="transaction-banner__heading">@Messages("subscriptionComplete.title", agencyName)</h1>
        <p>
            @Messages("subscriptionComplete.accountName")<br>
            <strong class="heading-medium">@arn</strong>
        </p>
    </div>

    <p class="panel-indent">@Html(Messages("subscriptionComplete.p1"))</p>

    <a href="@redirectUrl" class="button" id="continue">@Messages("button.continue")</a>
}
