#error-summary-display:focus {
    outline: none;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-0 {
    margin-top: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-right-5 {
    margin-right: 5px;
}

.error-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.govuk-tag {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    display: inline-block;
    padding: 4px 8px 1px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #005ea5;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.25;
}

.flash.error-summary {
    border: 5px solid #d4351c;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}

.flash.error-summary a {
    font-weight: bold;
}

#error-summary-heading {
    font-size: 24px;
}

#amls-form-hint {
    margin-bottom: 15px;
}

.form-field--error .error-notification {
    font-weight: bold;
    font-size: 19px;
    line-height: 1.31579;
}

.form-field--error {
    border-left: 5px solid #d4351c;
    padding-left: 15px;
    margin-right: 15px;
}

.form-field--error input[type="text"],
.form-field--error input[type="tel"],
.form-group-error input[type="text"] {
    border: 4px solid #d4351c;
    height: 40px;
}

.form-field--error legend .heading-large {
    margin-top: 0 !important;
}

#hasSaAgentCodeField {
    margin-left: 16px;
    border-left-width: 5px;
}

.list-bullets {
    padding-left: 20px;
    list-style-type: disc;
}

@media (min-width: 641px){

    .error__content {
        width: 61.666667%;
    }
}

@media (-ms-high-contrast:none) {
    *::-ms-backdrop, .govuk-details__summary {  padding-left: 25px; } /* Target IE11 */
}

.govuk-details__summary {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
    color: #1d70b8;
    cursor: pointer;
}

.govuk-details__summary:before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    border-width: 7px 0 7px 12.124px;
    border-left-color: inherit;
}

.govuk-details[open]>.govuk-details__summary:before {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    border-width: 12.124px 7px 0 7px;
    border-top-color: inherit;
}


@media (max-width: 640px) {
  .button--secondary {
    width: 100%;
  }
}

@media (min-width: 640px) {
  .button--secondary {
    line-height: 27px;
  }
}

p.welsh-toggle{
    color: #B1B4B6;
    text-decoration: none;
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
}


@import 'partials/_dateFields';
@import 'partials/_checkAnswers';
@import 'partials/_taskList';
@import 'partials/_accessibleAutocomplete';
@import 'partials/_accessibilityStatement';
@import 'partials/_focus';
@import 'partials/_palette';
