#error-summary-display:focus{
    outline: 3px solid #ffbf47;
}

.margin-top-30 {
    margin-top: 30px !important;
}
.margin-bottom-0 {
    margin-bottom: 0px !important;
}
.app-check-your-answers {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
}

@media print {
    .app-check-your-answers {
        font-family: sans-serif;
    }
}

@media (min-width: 40.0625em) {
    .app-check-your-answers {
        font-size: 19px;
        line-height: 1.31579;
    }
}

@media print {
    .app-check-your-answers {
        font-size: 14pt;
        line-height: 1.15;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers {
        display: table;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers--short {
        width: 100%;
    }
    .app-check-your-answers--short .app-check-your-answers__question {
        width: 30%;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers--long {
        width: 100%;
    }
    .app-check-your-answers--long .app-check-your-answers__question {
        width: 50%;
    }
}

.app-check-your-answers__contents {
    position: relative;
    border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 48.0625em) {
    .app-check-your-answers__contents {
        display: table-row;
        border-bottom-width: 0;
    }
}

@media (min-width: 48.0625em) {
    .app-check-your-answers__contents:first-child .app-check-your-answers__question,
    .app-check-your-answers__contents:first-child .app-check-your-answers__answer,
    .app-check-your-answers__contents:first-child .app-check-your-answers__change {
        padding-top: 0;
    }
}

.app-check-your-answers__question,
.app-check-your-answers__answer,
.app-check-your-answers__change {
    display: block;
    margin: 0;
}

@media (min-width: 48.0625em) {
    .app-check-your-answers__question,
    .app-check-your-answers__answer,
    .app-check-your-answers__change {
        display: table-cell;
        border-bottom: 1px solid #bfc1c3;
        padding: 0.63158em 1.05263em 0.47368em 0;
    }
}

.app-check-your-answers__question {
    font-weight: bold;
    margin: 0.63158em 4em 0.21053em 0;
}

.app-check-your-answers__answer {
    padding-bottom: 0.47368em;
}

.app-check-your-answers__change {
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
}

@media (min-width: 48.0625em) {
    .app-check-your-answers__change {
        position: static;
        padding-right: 0;
    }
}
/* form overrides */

.flash.error-summary {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px;
}
.flash.error-summary a{
    font-weight: bold;
}
#error-summary-heading{
    font-size: 24px;
}
.form-field--error .error-notification{
    font-weight: bold;
    font-size: 19px;
    line-height: 1.31579;
}

.form-field--error {
    border-left: 5px solid #b10e1e;
    padding-left: 15px;
    margin-right: 15px;
}
.form-field--error input[type="text"]{
    border: 4px solid #b10e1e;
}
